<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>simple demo</title>
		<link href="/stylesheets/chat.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="stream" style="float:left; width:70%;padding-left: 30px;">
					<h1><%= streamUser %></h1>
					<video width="98%" id="gum" autoplay style="border-style: solid;"></video>
					<% if(isStreamer) { %>
					<button type="button" id="connect_btn">BROADCAST</button>
					<button type="button" id="disconnect_btn">DISCONNECT</button>
					<% } %>
				</div>
				<div style="float:left;">
					<ul class="pages">
					    <li class="chat page">
					      <div class="chatArea">
					        <ul class="messages"></ul>
					      </div>
					      <input class="inputMessage" placeholder="Type here..."/>
					    </li>
					    <li class="login page">
					      <div class="form">
					        <h3 class="title">What's your nickname?</h3>
					        <% if(user) { %>
							<input class="usernameInput" type="text" maxlength="14" value="<%= user %>" />
					        <% } else { %>
					        <input class="usernameInput" type="text" maxlength="14" />
					        <% } %>
					      </div>
					    </li>
					  </ul>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/javascripts/webrtc/adapter.js"></script>
		<script src="/javascripts/common.js"></script>
		<script src="/javascripts/chat.js"></script>
		<% if(isStreamer) { %>
		<script src="/javascripts/video.js"></script>
		<% } else { %>
		<script src="/javascripts/video-client.js"></script>
		<% } %>
	</body>
</html>