<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>SIGN UP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SIGN UP</h1>
    <p>You can broadcast your contents after sign-up.</p>
    <form action="/signup" method="post">
      ID : <input type="text" name="id" /><br>
      PW : <input type="password" name="password"><br>
      NICK : <input type="text" name="displayName"><br><br>
      <input type="submit" value="enter" />
    </form>
    <br>
    <a href="/">HOME</a>
  </body>
</html>
